/*
0-600px:    Phone
600-900px:  Tablet Portrait
900-1200px:  Tablet Landscape
[1200 - 1800]px:    Where our normal style applies  
1800px + :  Tablet Portrait

*/
/*
$breakpoint argument choices
-phone
-tab-port
-tab-land
-big-desktop
1em = 16px
37.5em = 600px

ORDER

Base + Typography > General layout + Grid > Page Layout > Components

*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 45%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 37.5%; } }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #f7f7f7; }

.line {
  padding: 0 2rem; }
  .line::after {
    height: 1px;
    content: "";
    background: linear-gradient(#f7f7f7, #f7f7f7) no-repeat center/200px 100%;
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%); }
  .line--black::after {
    height: 1px;
    content: "";
    background: linear-gradient(#333, #333) no-repeat center/200px 100%;
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%); }

.back-to-top {
  font-size: 2.5rem;
  color: #000;
  cursor: pointer;
  position: fixed;
  right: 0;
  bottom: 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.7rem; }

.header {
  position: relative;
  font-size: 3.2rem;
  text-transform: uppercase;
  margin-bottom: 2rem; }

.slogan {
  font-size: 1.6rem;
  margin: 2rem; }

.btn-primary {
  background-color: #e69c42;
  margin: 1rem;
  height: 5rem;
  width: 25rem;
  border-radius: 1px;
  outline: none;
  border: none;
  color: #f7f7f7;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.2s ease; }
  .btn-primary:hover {
    background-color: transparent;
    border: 2px solid #e69c42;
    color: #ffff;
    transform: translateY(-2px); }

.btn-second {
  margin-top: 5rem;
  background-color: #13547a; }
  .btn-second:hover {
    border: 2px solid #13547a; }

.btn-third {
  margin-top: 5rem;
  background-color: #0b98b1; }
  .btn-third:hover {
    border: 2px solid #0b98b1;
    color: #333; }

.btn-small {
  padding: 0.7rem;
  margin-bottom: 2rem;
  height: 3.5rem;
  width: 8rem;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #0b98b1;
  transition: all 0.2s ease;
  text-transform: uppercase; }
  .btn-small--active {
    background-color: #ffff; }
  .btn-small:hover {
    transform: translateY(-2px);
    background-color: transparent;
    border: 1px solid #0b98b1; }

.btn-see-more {
  height: 5rem;
  width: 14rem;
  outline: none;
  color: #ffff;
  border: none;
  background-color: #0b98b1;
  cursor: pointer;
  transition: all 0.2s ease;
  z-index: 99; }
  .btn-see-more:hover {
    border: 1px solid #ffff; }

html {
  scroll-behavior: smooth; }

body {
  height: 100vh; }

.home {
  background: #667eea;
  background: linear-gradient(163deg, #667eea 0%, #764ba2 100%);
  height: 80vh;
  padding: 6rem; }
  @media (max-width: 56.25em) {
    .home {
      padding: 0; } }

.slogan-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40vh;
  text-align: center; }
  .slogan-container *::selection {
    background: #452575; }
  .slogan-container__text {
    font-size: 3.2rem;
    font-weight: 900;
    line-height: 4rem;
    margin-bottom: 3rem; }

.navbar {
  height: 7rem;
  display: flex;
  justify-content: space-between; }
  .navbar__logo {
    font-size: 4rem;
    color: #f7f7f7;
    font-family: "Grenze Gotisch", cursive;
    font-weight: 900;
    cursor: pointer; }
  .navbar__items {
    display: flex;
    align-items: center;
    align-self: stretch; }
    .navbar__items li {
      list-style: none; }
  .navbar__item {
    font-size: 2rem;
    padding: 0 3rem;
    transition: all 0.2s ease; }
    .navbar__item--active {
      background-color: #452575; }
    .navbar__item:hover {
      color: #ffff;
      transform: translateY(-2px); }
    .navbar__item a {
      font-weight: 900;
      color: currentColor;
      text-decoration: none; }

.services-container {
  display: flex;
  flex-direction: column;
  background: #13547a;
  background: linear-gradient(45deg, #13547a 0%, #80d0c7 100%);
  padding: 8rem;
  text-align: center; }
  .services-container *::selection {
    background: #13547a; }

.service {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  .service__container {
    flex: 1 0 25%; }
    .service__container:not(:last-child) {
      padding-right: 2rem; }
  .service__img-photo {
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    margin-bottom: 2rem; }
  .service__title {
    font-size: 2.5rem; }
  .service__subtitle {
    font-size: 1.6rem; }

.team-members {
  background: #ffecd2;
  background: linear-gradient(45deg, #ffecd2 0%, #fcb69f 100%);
  display: flex;
  flex-direction: column;
  padding: 8rem;
  text-align: center;
  color: #333; }
  .team-members *::selection {
    background: #e69c42;
    color: #ffff; }

.members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.member {
  flex: 1 0 18%; }
  .member:not(:last-child) {
    margin-right: 2rem; }
  .member__photo {
    margin-top: 3rem; }
    .member__photo .member-photo {
      border-radius: 50%;
      height: 15rem;
      width: 15rem; }
  .member__name {
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: 1px;
    margin-top: 0.7rem; }
  .member__designation {
    font-size: 2rem;
    color: #ee57ee;
    font-weight: 600; }
  .member__description {
    font-size: 1.6rem;
    color: #777;
    margin: 1.2rem 0; }
  .member .social-icons {
    display: flex;
    justify-content: space-around;
    padding: 0 5rem; }
  .member .social__icon {
    height: 2rem;
    width: 2rem;
    transition: transform 0.2s ease; }
    .member .social__icon:hover {
      transform: translateY(-2px); }

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 8rem;
  background-color: #b1f0fb;
  color: #333; }
  .portfolio *::selection {
    background: #0b98b1;
    color: #ffff; }
  .portfolio__project {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1 0 50%;
    margin-top: 2rem; }
    .portfolio__project-container {
      flex: 1 0 25%;
      height: 20rem;
      overflow: hidden;
      position: relative;
      text-align: center;
      margin: 2rem;
      border-radius: 1rem;
      color: #ffff;
      cursor: pointer; }
    .portfolio__project-img {
      position: relative;
      height: auto;
      width: 100%;
      object-fit: cover;
      overflow: hidden;
      opacity: 0.5;
      filter: hue-rotate(30deg);
      object-fit: cover;
      transition: all 0.5s;
      transform: scale(1.2); }
    .portfolio__project-container:hover .portfolio__project-img {
      transform: scale(1.1);
      border-radius: 2rem;
      overflow: hidden;
      opacity: 1; }
    .portfolio__project-container:hover .portfolio__project-title {
      visibility: hidden; }
    .portfolio__project-title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2.5rem;
      font-weight: 900;
      letter-spacing: 2px;
      color: #333;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif; }
    .portfolio__project button {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      transform: translateY(-3rem);
      visibility: hidden;
      transform: scale(0);
      transition: all 0.8s ease; }
    .portfolio__project-container:hover button {
      transform: scale(1);
      visibility: visible; }

.show {
  display: flex; }

.hide {
  display: none; }

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 8rem;
  background-color: #ee57ee;
  color: #f7f7f7; }
  .testimonial *::selection {
    background: #aa0caa;
    color: #ffff; }
  .testimonial-container {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap; }
  .testimonial .testi {
    display: flex;
    flex-direction: row;
    margin-bottom: 4rem;
    flex: 0 0 50%; }
    .testimonial .testi__img {
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
      margin-right: 3rem;
      align-self: center; }
    .testimonial .testi-msg {
      display: flex;
      flex-direction: column;
      flex: 1 0 50%;
      text-align: left; }
      .testimonial .testi-msg__text {
        font-size: 1.6rem; }
      .testimonial .testi-msg__name {
        font-size: 2.5rem;
        font-weight: 900;
        margin-top: 1rem; }
      .testimonial .testi-msg__position {
        font-size: 1.6rem;
        font-weight: 700;
        color: #ffd6a1; }

.footer-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 8rem;
  background-color: #337cbd;
  color: #f7f7f7; }
  .footer-container *::selection {
    background: #14466f;
    color: #ffff; }

.msg {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem; }
  .msg-name, .msg-email, .msg-area {
    height: 5rem;
    flex: 0 0 25%;
    padding: 1rem 1.5rem;
    background-color: #14466f;
    outline: none;
    border: none;
    font-size: 1.6rem;
    color: #ffff;
    border-radius: 5px; }
  .msg-name::placeholder, .msg-email::placeholder, .msg-area::placeholder {
    color: #ffff;
    font-size: 1.6rem; }
  .msg-email {
    height: 5rem;
    padding: 1rem;
    flex: 0 0 25%; }
  .msg-area {
    margin-top: 3rem;
    height: 15rem;
    flex: 0 0 75%; }

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  font-size: 1.6rem;
  padding: 4rem;
  background-color: #1966a9; }
  .social-links > a {
    color: #ffff;
    text-decoration: none;
    transition: all 0.2s ease; }
    .social-links > a:hover {
      transform: translateY(-2px); }
