/*
0-600px:    Phone
600-900px:  Tablet Portrait
900-1200px:  Tablet Landscape
[1200 - 1800]px:    Where our normal style applies  
1800px + :  Tablet Portrait

*/
/*
$breakpoint argument choices
-phone
-tab-port
-tab-land
-big-desktop
1em = 16px
37.5em = 600px

ORDER

Base + Typography > General layout + Grid > Page Layout > Components

*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 45%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 37.5%; } }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #f7f7f7; }

.line {
  padding: 0 2rem; }
  .line::after {
    height: 1px;
    content: "";
    background: linear-gradient(#f7f7f7, #f7f7f7) no-repeat center/200px 100%;
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%); }
  .line--black::after {
    height: 1px;
    content: "";
    background: linear-gradient(#333, #333) no-repeat center/200px 100%;
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%); }

.back-to-top {
  font-size: 2.5rem;
  color: #000;
  cursor: pointer;
  position: fixed;
  right: 0;
  bottom: 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.7rem; }

.header {
  position: relative;
  font-size: 3.2rem;
  text-transform: uppercase;
  margin-bottom: 2rem; }

.slogan {
  font-size: 1.6rem;
  margin: 2rem; }

.button-primary {
  background-color: #e69c42;
  height: 5rem;
  width: 25rem;
  border-radius: 1px;
  outline: none;
  border: none;
  color: #f7f7f7;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.2s ease; }
  .button-primary:hover {
    background-color: transparent;
    border: 2px solid #e69c42;
    color: currentColor;
    transform: translateY(-2px); }

html {
  scroll-behavior: smooth; }

body {
  height: 100vh; }

.home {
  background-color: #791ae6;
  height: 80vh;
  padding: 6rem; }
  @media (max-width: 56.25em) {
    .home {
      padding: 0; } }

.slogan-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40vh;
  text-align: center; }
  .slogan-container *::selection {
    background: #452575; }
  .slogan-container__text {
    font-size: 3.2rem;
    font-weight: 900;
    line-height: 4rem;
    margin-bottom: 3rem; }

.navbar {
  height: 7rem;
  display: flex;
  justify-content: space-between; }
  .navbar__logo {
    font-size: 4rem;
    color: #f7f7f7;
    font-family: "Grenze Gotisch", cursive;
    font-weight: 900;
    cursor: pointer; }
  .navbar__items {
    display: flex;
    align-items: center;
    align-self: stretch; }
    .navbar__items li {
      list-style: none; }
  .navbar__item {
    font-size: 2rem;
    padding: 0 3rem;
    transition: all 0.2s ease; }
    .navbar__item--active {
      background-color: #452575; }
    .navbar__item:hover {
      color: #ffff;
      transform: translateY(-2px); }
    .navbar__item a {
      font-weight: 900;
      color: currentColor;
      text-decoration: none; }

.services-container {
  display: flex;
  flex-direction: column;
  background-color: #0eac8f;
  padding: 8rem;
  text-align: center; }
  .services-container *::selection {
    background: #046251; }

.service {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  .service__container {
    flex: 1 0 25%; }
    .service__container:not(:last-child) {
      padding-right: 2rem; }
  .service__img-photo {
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    margin-bottom: 2rem; }
  .service__title {
    font-size: 2.5rem; }
  .service__subtitle {
    font-size: 1.6rem; }

.team-members {
  background-color: #ffd6a1;
  display: flex;
  flex-direction: column;
  padding: 8rem;
  text-align: center;
  color: #333; }

.members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.member {
  flex: 1 0 18%; }
  .member:not(:last-child) {
    margin-right: 2rem; }
  .member__photo {
    margin-top: 3rem; }
    .member__photo .member-photo {
      border-radius: 50%;
      height: 15rem;
      width: 15rem; }
  .member__name {
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: 1px;
    margin-top: 0.7rem; }
  .member__designation {
    font-size: 2rem;
    color: #337cbd;
    font-weight: 600; }
  .member__description {
    font-size: 1.6rem;
    color: #777;
    margin: 1.2rem 0; }
  .member .social-icons {
    display: flex;
    justify-content: space-around;
    padding: 0 5rem; }
  .member .social__icon {
    height: 2rem;
    width: 2rem;
    transition: transform 0.2s ease; }
    .member .social__icon:hover {
      transform: translateY(-2px); }
