//Colors
$color-primary: #791ae6;
$color-primary-light: #684c92;
$color-primary-dark: #452575;

$color-second: #42baa3;

$color-third: #e8f2f8;

$color-third: #ffd6a1;
$color-third-dark: #e69c42;

$color-fourth: #db417f;

$colour-fifth-light: #337cbd;

$colour-fifth-dark: #14466f;

$color-grey-light: #f7f7f7;
$color-grey-dark: #777;
$color-grey-dark-1: #333;

$color-white: #ffff;
$color-black: #000;

//Font Sizes
$default-font-size: 1.6rem;
$header-font: 3.2rem;
$button-font: 2rem;
