.btn-primary {
	background-color: $color-third-dark;
	margin: 1rem;
	height: 5rem;
	width: 25rem;
	border-radius: 1px;
	outline: none;
	border: none;
	color: $color-grey-light;
	font-size: 1.8rem;
	cursor: pointer;
	transition: $tr-2s;
	&:hover {
		background-color: transparent;
		border: 2px solid $color-third-dark;
		color: $color-white;
		transform: $ty-2px;
	}
}
.btn-second {
	margin-top: 5rem;
	background-color: $color-second-dark;
	&:hover {
		border: 2px solid $color-second-dark;
	}
}
.btn-third {
	margin-top: 5rem;
	background-color: $color-fourth-dark;
	&:hover {
		border: 2px solid $color-fourth-dark;
		color: $color-fourth-dark;
	}
}
.btn-small {
	padding: 0.7rem;
	margin-bottom: 2rem;
	height: 3.5rem;
	width: 8rem;
	outline: none;
	border: none;
	cursor: pointer;
	background-color: $color-fourth-dark;
	transition: $tr-2s;
	text-transform: uppercase;

	&--active {
		background-color: $color-white;
	}
	&:hover {
		transform: $ty-2px;
		background-color: transparent;
		border: 1px solid $color-fourth-dark;
	}
}
.btn-see-more {
	height: 5rem;
	width: 14rem;
	outline: none;
	color: $color-white;
	border: none;
	background-color: $color-fourth-dark;
	cursor: pointer;
	transition: $tr-2s;
	z-index: 99;
	&:hover {
		border: 1px solid $color-white;
	}
}
