*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
html {
	//This defines what 1rem is... 62.5% means, 62.5% of 16px = 10px. ie 1 rem == 10px
	font-size: 62.5%;

	@include respond(big-desktop) {
		//width > 1800+
		font-size: 75%; //1 rem == 12px, 12/16 == 75%
	}
	@include respond(tab-land) {
		//width < 1200 ?
		font-size: 56.25%; //1 rem == 9px, 9/16 = 56.25%
	}
	@include respond(tab-port) {
		//width < 900 ?
		font-size: 45%; //1 rem == 8px, 8/16 == 50%
	}
	@include respond(phone) {
		//width < 600 ?
		font-size: 37.5%; //1 rem == 6px, 6/16 == 37.5%
	}
	// color:red;
}
body {
	box-sizing: border-box;
}
