.line {
}
.line::after {
	content: "";
	background: linear-gradient($color-grey-light, $color-grey-light) no-repeat
		center/200px 100%;
	height: 1px;
	display: block;
	position: relative;
	top: 2rem;
	left: 50%;
	transform: translateX(-50%);
}
