html {
	scroll-behavior: smooth;
}
body {
	height: 100vh;
}
.home {
	// background-color: $color-primary;
	background: rgb(102, 126, 234);
	background: linear-gradient(
		163deg,
		rgba(102, 126, 234, 1) 0%,
		rgba(118, 75, 162, 1) 100%
	);
	height: 80vh;
	padding: 6rem;

	@include respond(tab-port) {
		//width < 900 ?
		padding: 0;
	}
}
.slogan-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 40vh;
	text-align: center;
	& *::selection {
		background: $color-primary-dark;
	}
	&__text {
		font-size: $header-font;
		font-weight: 900;
		line-height: 4rem;
		margin-bottom: 3rem;
	}
}
